<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swift Loans</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

  <!-- <link rel="stylesheet" href="/styles.css"> -->
  <link rel="stylesheet" href="/assets/fonts/stylesheet.css">
  <!-- Icons -->
  <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
        type="text/css">
  <!-- Page plugins -->
  <link rel="stylesheet" href="/assets/vendor/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="/assets/vendor/sweetalert2/dist/sweetalert2.min.css">

  <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/jquery-confirm.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/dashboard.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/custom.css" type="text/css">
  <script type="application/javascript" src="https://connect.withmono.com/connect.js"></script>
</head>
<body>
<%- include('partials/sidebar'); -%>
<div class="main-content" id="panel" >
<%- include('partials/header'); -%>


<div class="container-fluid mt-6">
  <div class="row">
    <div class="col-xl-6 offset-3 mr-4">
        <div class="card p-2">
          <h3 class="card-title m-2"> Your Dashboard</h3>
          <hr />

          <% if (data['user']['monoId'] ) { %>
            <h2>
              Your User Information
              <span class="w3-padding w3-green w3-round w3-small">
                ACCOUNT CONNECTED
              </span>
              <hr>
            </h2>

           <div class="row">
            <p class="col-6">
              TITLE:
              <span><%= dashboard['title'] %></span>
            </p>

            <p class="col-6">
              FIRST NAME:
              <span><%= dashboard['firstName'] %></span>
            </p>

            <p class="col-6">
              MIDDLE NAME:
              <span><%= dashboard['middleName'] %></span>
            </p>

            <p class="col-6">
              LAST NAME:
              <span><%= dashboard['lastName'] %></span>
            </p>

            <p class="col-6">
              PHONE NUMBER 1:
              <span><%= dashboard['phoneNumber1'] %></span>
            </p>

            <p class="col-6">
              PHONE NUMBER 2:
              <span><%= dashboard['phoneNumber2'] %></span>
            </p>

            <p class="col-6">
              EMAIL:
              <span><%= dashboard['email'] %></span>
            </p>

            <p class="col-6">
              GENDER:
              <span><%= dashboard['gender'] %></span>
            </p>

            <p class="col-6">
              LGA OF ORIGIN:
              <span><%= dashboard['lgaOfOrigin'] %></span>
            </p>

            <p class="col-6">
              LGA OF RESIDENCE:
              <span><%= dashboard['lgaOfResidence'] %></span>
            </p>

            <p class="col-6">
              MARITAL STATUS:
              <span><%= dashboard['maritalStatus'] %></span>
            </p>

            <p class="col-6">
              NIN:
              <span><%= dashboard['nin'] %></span>
            </p>

            <p class="col-6">
              NATIONALITY:
              <span><%= dashboard['nationality'] %></span>
            </p>

            <p class="col-6">
              RESIDENTIAL ADDRESS:
              <span><%= dashboard['residentialAddress'] %></span>
            </p>

            <p class="col-6">
              STATE OF ORIGIN:
              <span><%= dashboard['stateOfOrigin'] %></span>
            </p>

            <p class="col-6">
              STATE OF RESIDENCE:
              <span><%= dashboard['stateOfResidence'] %></span>
            </p>

            <p class="col-6">
              WATCH LISTED:
              <span><%= dashboard['watchListed'] %></span>
            </p>

            <p class="col-6">
              BVN:
              <span><%= dashboard['bvn'] %></span>
            </p>
           </div>




          <% } else { %>
            <div class="m-3">
              <button id="launch-btn" class="btn btn-primary">Link your financial account</button>
            </div>
          <% } %>
        </div>
      </div>


</div>

</div>
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>

<script src="/assets/js/bootstrap-select.min.js"></script>
<script src="/assets/js/jquery-confirm.min.js"></script>
<script src="/assets/js/dashboard.js"></script>

<%- include('partials/mono_dialog'); -%>

<script type="application/javascript">
  async function get() {

  
  }

  get()
</script>
<%- include('partials/footer'); -%>